

<div> 
    <!-- <mat-toolbar color="default">
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      <a mat-button class="companyName" routerLink="/">
        <span>Elite</span>
      </a>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a mat-button routerLink="/home">Home</a>
        <a mat-button routerLink="/liveclasses">Live Classes</a>
        <a mat-button routerLink="/start-page">About Us</a>
        <a mat-button routerLink="/offer">Login</a>
        <a mat-button routerLink="/contact">Contact Us</a>
      </div>
  
    </mat-toolbar>
    <mat-sidenav-container fxFlexFill class="example-container">
  
      <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
        <div fxLayout="column">
          <a mat-button routerLink="/home">Home</a>
          <a mat-button routerLink="/liveclasses">Live Classes</a>
          <a mat-button routerLink="/start-page">About Us</a>
          <a mat-button routerLink="/offer">Login</a>
          <a mat-button routerLink="/contact">Contact Us</a>
        </div>
      </mat-sidenav>
     
    </mat-sidenav-container> -->
    <img src="assets/images/Navbar.png" width="1283" height="auto" alt="Navbar">
    <img src="assets/images/home.png" width="1283" height="auto" alt="homePage">
    <img src="assets/images/liveclasses.png" width="1283" height="auto" alt="Live">
    <img src="assets/images/free.png" width="1283" height="auto" alt="Free">
    <img src="assets/images/top.png" width="1283" height="auto" alt="top">
    <img src="assets/images/Sample.png" width="1283" height="auto" alt="sample">
    <img src="assets/images/students.png" width="1283" height="auto" alt="students">
    <img src="assets/images/download.png" width="1283" height="auto" alt="download"> 
    <img src="assets/images/footer.png" width="1283" height="auto" alt="footerPage">
  </div>